In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./kroger_products_trial.csv')
df.head()

,name,subcategory,category,product_id,url,price
0,SkinnyPop Popcorn,Snacks,Pantry,0085025100400,https://www.kroger.com/p/skinnypop-popcorn/008...,3.29
1,Simple Truth Organic® Blue Corn Tortilla Chips,Snacks,Pantry,0001111086062,https://www.kroger.com/p/simple-truth-organic-...,2.99
2,Kettle Brand® Jalapeno Potato Chips,Snacks,Pantry,0008411411632,https://www.kroger.com/p/kettle-brand-jalapeno...,3.19
3,Kettle Brand® Sea Salt Potato Chips,Snacks,Pantry,0008411410812,https://www.kroger.com/p/kettle-brand-sea-salt...,3.19
4,Kettle Brand® Sea Salt Potato Chips Sharing Size,Snacks,Pantry,0008411403216,https://www.kroger.com/p/kettle-brand-sea-salt...,3.50

In [3]:
df.shape

(129936, 6)

In [4]:
df.nunique()

name           86170
subcategory      260
category          26
product_id     89299
url            90292
price           9885
dtype: int64

In [5]:
df.drop_duplicates(keep='first', inplace=True)

In [6]:
df.shape

(103926, 6)

In [14]:
home_index = df[df.category == 'Home'].index

In [15]:
home_index

Int64Index([54223, 54224, 54225, 54226, 54227, 54228, 54229, 54230, 54231,
            54232,
            ...
            56113, 56114, 56115, 56116, 56117, 56118, 56119, 56120, 56121,
            56122],
           dtype='int64', length=1322)

In [17]:
df.drop(index=home_index, inplace=True)
df[df.category == 'Home']

Empty DataFrame
Columns: [name, subcategory, category, product_id, url, price]
Index: []

In [18]:
df.shape

(102604, 6)

In [23]:
df.nunique()

name           85829
subcategory      258
category          25
product_id     88957
url            89007
price           9874
dtype: int64

In [25]:
df.head()

,name,subcategory,category,product_id,url,price
0,SkinnyPop Popcorn,Snacks,Pantry,0085025100400,https://www.kroger.com/p/skinnypop-popcorn/008...,3.29
1,Simple Truth Organic® Blue Corn Tortilla Chips,Snacks,Pantry,0001111086062,https://www.kroger.com/p/simple-truth-organic-...,2.99
2,Kettle Brand® Jalapeno Potato Chips,Snacks,Pantry,0008411411632,https://www.kroger.com/p/kettle-brand-jalapeno...,3.19
3,Kettle Brand® Sea Salt Potato Chips,Snacks,Pantry,0008411410812,https://www.kroger.com/p/kettle-brand-sea-salt...,3.19
4,Kettle Brand® Sea Salt Potato Chips Sharing Size,Snacks,Pantry,0008411403216,https://www.kroger.com/p/kettle-brand-sea-salt...,3.50

In [27]:
df.to_csv('./kroger_products.csv',index=False)