In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('wholefoods.csv')
df.head()

   name  brand  category  subcategory  price
0  name  brand  category  subcategory  price
1  name  brand  category  subcategory  price
2  name  brand  category  subcategory  price
3  name  brand  category  subcategory  price
4  name  brand  category  subcategory  price

In [5]:
df.drop_duplicates(inplace=True, keep='first')

In [6]:
df.shape

(9490, 5)

In [9]:
df.nunique()

name           8817
brand          1729
category         17
subcategory      82
price           315
dtype: int64